
.navbar{
    background-color: #006838;
    position: relative;
    padding: 1.5rem;
    
    
}
/* Searchbox */
.searchBox{
    position: absolute;
    top: -0.75rem;
    left: 11rem;
}
.searchBox > input{
    
    width: 20vmax;
    height: 4.25vmax;
    transition: var(--transition);
    border: 5px solid var(--color-primary-variant);
    border-radius: 1vmax;
    margin: 0;
}

/* navs */
.navs{
    position: absolute;
    right: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    
}







/* Dropdown content */

.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 15vmax;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: #006838;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: var(--color-white);
    padding: 5px;
    text-decoration: none;
    /* transition: var(--transition); */
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: var(--color-primary-variant);
}