
.team{
    color: var(--color-green);
    text-align: center;
    background-color: white;
    width: 100%;
    padding: 0 10%;
    align-items: center;
    padding-bottom: 2rem;
    background-color: var(--color-darkSlate);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



    
    /* text-align: center; */
}
.team-list{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem; */
    /* padding-bottom: 1.4rem; */
    width: 50%;
    /* border-radius: 50%; */
    /* max-width: fit-content; */
    /* border: 0.75px solid var(--color-white); */
    /* border-radius: 50% 50%; */
    padding: 2rem;

}
.member-item{

    /* width: 80%; */
    /* border: 1px solid green; */
    border-bottom: 0.75px solid var(--color-white);

    


    color: var(--color-white);
    padding-bottom: 1rem;
    /* position: relative; */
    /* height: 15rem; */
    /* border-radius: 50%; */

    
}


.member-item > img{
    border: 0.75px solid var(--color-white);
    overflow:hidden;
 
}
   

.member-item > #major{
    font-size: small;
}
.member-item > p{
    font-size: small;

}



.team > h2{
    padding-bottom: 2rem;
}
.team hr{
    width: 50%;
    margin: auto;
    background-color: var(--color-white);
    height: 0.25px;
    border-radius: 1em;
}

.team a{
    border: 1px solid var(--color-primary);
    border-radius: 0.25rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding:0.5rem 0.75rem;
    filter: brightness(85%);


}
.team a:hover{
    color: var(--color-white);
    filter: brightness(100%);


}

@media screen  and (max-width:160px){
    

    /*  */
}
