

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(47, 79, 79, 0.4);
    padding: 1.2em;
    color: white;
    
    /* opacity: 0.5; */
     
}
.container1{
    /* border: 1px solid greenyellow; */
    display: flex;
    flex-direction: row;
}

.logo{
    margin-right: 4em;
}

.pages a {
    
}
.container2{
    border: 1px solid blueviolet;
    /* display: inline; */

}
.container2 a{
    text-decoration:none;
    color: white;
}
.logo{
    /* border: 1px solid red; */
    height: 60px;
}
.logo img{
    height: 100%;
}
.logo a{
    text-decoration: none;
    color: white;
}
.pages a{
    text-decoration:none;
    color: white;
    margin-right: 3em;

}
.page{
    border: 1px solid rgb(165, 42, 144);
}





