.main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.4em;
    background-color: rgba(47, 79, 79, 0.45);
    color: white;
    
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    margin-right: 3em;
    margin-left: 5em;
    height: 100px;
}
.logo img{
    height: 100%;
}
.pages{
    margin-left: 6em; 
    height: 10px;
    
}
.pages a{
    text-decoration: none;
    color: white;
    text-transform:capitalize;
}
.page{
    margin-right: 4em;
    
}
.pages > a > img{
    height: 100%;
    margin-left: 10px;
    fill: white;
    color: white;

}
svg{
    fill: white;
    color: white;
}

.container2{
    
    display: inline;
    color: black;
    align-items: center;
    color: white;
    
}
.container2 span{
    margin-right: 2em;

}

.container2 > a{
    margin-right: 2em;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    align-items: center;
}




